body {
       font-family: Arial, sans-serif;
       background-color: #0a4038;
       margin: 20px;
     }


     /* Center the to-do container */
     .container {
       max-width: 400px;
       margin: 0 auto;
       margin-top: 40px;
       background: rgb(243, 243, 243);
       padding: 50px;
       border-radius: 10px;
      box-shadow: 2px 2px 1rem rgba(0, 153, 255, 0.9);
       text-align: center;

     }

     .container h2{
        text-decoration: wavy underline;
     }

     /* Style the input fields and buttons */
     input,
     button {
       width: 90%;
       margin: 10px 0;
       padding: 10px;
       font-size: 16px;
       border: 1px solid #ccc;
       border-radius: 5px;
     }
     .delete-button {
       background-color: #dc3545; /* Red color */
       color: white;
       border: none;
       padding: 5px 10px;
       border-radius: 5px;
       cursor: pointer;
       width: 20%;
     }


     .delete-button:hover {
       background-color: #c82333; /* Darker red on hover */
     }
     button {
       background-color: #0a4c93;
       color: white;
       border: none;
       cursor: pointer;
       margin-left: 16px;
       border-radius: 20px;
       box-shadow: 2px 2px  2px 2px rgb(72, 124, 114);
     }


     button:hover {
       background-color: #011f3e;
     }


     /* Style for the task list */
     .list {
       margin-top: 20px;
     }


     .task {
       margin-bottom: 10px;
       padding: 10px;
       background: #f9f9f9;
       border-radius: 5px;
       display: flex;
       justify-content: space-between;
     }
